<div class="portfolio-main-page-container">
  <aside id="portfolio-main-sidebar" class="custom-sidebar hidden">
    <span class="custom-sidebar__content">
      Hello There
    </span>
  </aside>
  <div class="portfolio-main-page-column-container">
    <header class="portfolio-main-navbar">
      <span class="portfolio-main-navbar__left">
        <p-button icon="pi pi-github" pTooltip="Github Profile" tooltipPosition="bottom" styleClass="p-button p-button-help p-button-text p-button-lg"></p-button>
        <p-button icon="pi pi-linkedin" pTooltip="LinkedIn Profile" tooltipPosition="bottom" styleClass="p-button p-button-primary p-button-text p-button-lg"></p-button>
        <p-button icon="pi pi-file" pTooltip="Download Resume" tooltipPosition="bottom" styleClass="p-button p-button-secondary p-button-text p-button-lg"></p-button>
      </span>
      <span class="portfolio-main-navbar__right">
        <p-button icon="pi pi-bars" class="lg:hidden" styleClass="p-button-outlined p-button-secondary"
          pStyleClass="#portfolio-main-sidebar" enterClass="hidden" enterActiveClass="fadeinleft"
          leaveToClass="hidden" leaveActiveClass="fadeoutleft"></p-button>
      </span>
    </header>
    <main class="main-content">
      <div class="content-section skills-section">
        <h1 class="skills-section__header">
          Skills
        </h1>
        <span class="skills-section__grid">
          @for (group of data.skills; track $index) {
            <portfolio-skills-frame [headerText]="group.groupName" [displayedSkills]="group.groupSkills" class="col-12 lg:col-6"></portfolio-skills-frame>
          }
        </span>
      </div>
    </main>
  </div>
</div>