<div class="portfolio-main-page-container">
  <aside id="portfolio-main-sidebar" class="custom-sidebar hidden">
    <span class="custom-sidebar__content">
      Hello There
    </span>
  </aside>
  <div class="page-column-container">
    <header class="portfolio-main-navbar">
      <span class="portfolio-main-navbar__left">

      </span>
      <span class="portfolio-main-navbar__right">
        <p-button icon="pi pi-bars" class="lg:hidden" styleClass="p-button-outlined p-button-secondary"
          pStyleClass="#portfolio-main-sidebar" enterClass="hidden" enterActiveClass="fadeinleft"
          leaveToClass="hidden" leaveActiveClass="fadeoutleft"></p-button>
      </span>
    </header>
    <main class="portfolio-main-content">
      
    </main>
  </div>
</div>